@page "/agecalculator"
@inject IJSRuntime JSRuntime

<div class="main_div">
    <div class="taskbar_div right">
        <a class="base_button" href="https://github.com/dominik246/Blazor-Website">Github</a>
        <a class="base_button" href="/">Home</a>
    </div>

    <div class="title">Age Calculator</div>
    <div class="datepicker">
        <form id="dateForm">
            <label>Date: </label>
            <input type="date" id="datepicker" @onchange="() => DatePicker()" />
        </form>
    </div>

    <div id="results" />
</div>

@code {
    private async Task DatePicker()
    {
        await JSRuntime.InvokeVoidAsync("datePickerSubmit");
    }
}