@page "/algorithms"

@inject ICreateGraphHelper _createGraph;

<h3>AlgorithmPage</h3>

<div @onload="LoadedPage" style="
    height: 50%; 
    position: absolute; 
    top: 20%; 
    left: 20%;
    ">

</div>

@code {
    private async Task LoadedPage()
    {
        IBasicNodeModel node = new BasicNodeModel
        {

        };

        List<List<IBasicNodeModel>> graph = await _createGraph.GetAsync(9, 9);


    }

    private async Task RenderGrid()
    {

    }
}
