@page "/"

<title>Landing Page</title>

<div style="
        background: #3399ff;
        height: 100%;
">
    <div class="circle xxlarge shade1"></div>
    <div class="circle xlarge shade2"></div>
    <div class="circle large shade3"></div>
    <div class="circle mediun shade4"></div>
    <div class="circle small shade5"></div>

    <div class="box">
        <div class="sub_box">
            <a class="box_item left" href="algorithms">
                Path Finding Algorithms
            </a>
        </div>
        <div class="sub_box">
            <a class="box_item right" href="sorts">
                Sorting Algorithms
            </a>
        </div>
    </div>
</div>